<div class="card-body bg-light" style="text-align: center">
  <h4 class="card-title">{{title}}</h4>
  <p>{{author}}</p>
  <small>
    {{likes}}
    <span class="fa fa-heart" aria-hidden="true" style="color:#F44336"></span>
     <!-- | {{shares}}
    <span class="fa fa-share-alt" aria-hidden="true" style="color:black"></span> -->
  </small>
  <div>
    <span class="badge badge-pill badge-secondary" style="margin: 2px" *ngFor="let tag of tags">
      <small>{{tag}}</small>
    </span>
  </div>
</div>
<div class="card-body bg-light text-dark" style="text-align: center">
  <div class="main-poem" style="font-size: 12pt; vertical-align:text-top">
    <pre style="border-style: none;white-space:pre-line; color: black">{{poem}}</pre>
  </div>
</div>
<div [hidden]="own_poem" *ngIf="_id !== null " style="text-align: center">
  <small>notice : this was originally written by {{author}} and was only shared to this site by our contributors. if you think
    it violates any copyrights, email us at kafenatedmail [at] gmail.com
  </small>
</div>
<div class="floating" style="top:10px">
  <div class="btn-group-vertical">
    <button class="btn btn-outline-primary" (click)="onHeart()" data-toggle="tooltip" data-placement="right"
      title="send your love multiple times">
      <span class="fa fa-heart" aria-hidden="true" style="color:#F44336"></span>
    </button>
    <button class="btn btn-outline-primary" (click)="onNext()" data-toggle="tooltip" data-placement="right" title="next random poem">
      <span class="fa fa-step-forward" aria-hidden="true"></span>
    </button>
    <button [hidden]="true" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="email the poem">
      <span class="fa fa-envelope-o" aria-hidden="true"></span>
    </button>
    <button *ngIf="storage.is_logged_in" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="add a poem"
      (click)="onAdd()">
      <span class="fa fa-plus" aria-hidden="true"></span>
    </button>
    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="customize the tag filters" (click)="onCustom()">
      <span class="fa fa-cog" aria-hidden="true" [style.color]="storage.is_filtered? '#AB1A0E' : '#000000'"></span>
    </button>
    <button [hidden]="true" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="see some analytics">
      <span class="fa fa-pie-chart" aria-hidden="true"></span>
    </button>
    <button [hidden]="true" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="tweet the poem">
      <span class="fa fa-twitter" aria-hidden="true"></span>
    </button>
    <button *ngIf="storage.is_logged_in === true" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="my profile" (click)="onProfile()">
      <span class="fa fa-user-circle-o" aria-hidden="true"></span>
    </button>
    <button *ngIf="storage.is_logged_in !== true" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="sign in" (click)="onLogin()">
      <span class="fa fa-sign-in" aria-hidden="true"></span>
    </button>
    <button *ngIf="storage.is_logged_in === true" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="sign out" (click)="onLogout()">
      <span class="fa fa-sign-out" aria-hidden="true"></span>
    </button>
    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="about random poetry" (click)="onAbout()">
      <span class="fa fa-info-circle" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" id="randomConfig" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>random poetry</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-form-label" for="tags">filter tags (semicolon seperated)</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="enter list of tags separated by semi-colon" id="tags" [(ngModel)]="filter_tags">
            <button class="btn btn-primary" (click)="clearFilters()">
              <span class="fa fa-eraser"></span>
            </button>
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="setFilterTags()">ok</button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)="onCancel()">cancel</button>
      </div>
    </div>
  </div>
</div>
