<div class="container" >
  <div style="text-align: center">
    <h4>random poetry</h4>
    <p>version {{version}}</p>
    <p>a kafenated project</p>
    <hr/>
    <h5>faqs</h5>
    <ul style="text-align:left">
      <li>
        what is random poetry? 
      </li>
      it is a web app that display random poems from  contributors.
      <li>
        who are the contributors? .
      </li>
      anyone can be a contributor. just login to start submitting poems
      <li>
        can i submit poem written by someone else? 
      </li>
      yes. just make sure the name of the writter is supplied on the authors name field. 
      <li>
        i'm a writter and would like like to remove my article posted on the site without my persmission. what can i do?
      </li>
      email us the title of poem and will remove the poem after our investigation
      <li>
        do you earn from published poems? 
      </li>
      no.
      <li>
        can i filter poems based on categories? 
      </li>
      yes, you can by providing filter tags. the customization button can be found on the left part of the screen.
    </ul>
   <hr/>
    <h5>contribute</h5>
    <p>there are three ways to contribute.</p>
    <p>1. you submit poems.</p>
    <p>2. submit bugs or feature request.</p>
    <p>3. the project is open source, you can help improving this site.</p>
    <hr/>
    <h5>contact us</h5>
    <p>email us at :  kafenatedmail [at] gmail.com</p>
    <p>visit our site at : kafenated.wordpress.com</p>
    <p>check out the repo of this site at <a href="">github</a></p>
  </div>
</div>

