<!--The content below is only a placeholder and can be replaced.-->
<div class="h-box">
  <div class="row">
    <div class="col-2 d-none d-sm-block">
    </div>
    <div class="col-12 col-sm-8">
      <div class="card poem bg-primary text-white">
        <div class="card-header">
          <div class="row">
            <div class="col-7" style="vertical-align: middle">
              <span *ngIf="session.is_home !== true" (click)="onBack()" class="fa fa-chevron-left" aria-hidden="true"></span>
              <a class="navbar-brand">Random Poetry</a>
            </div>
            <div class="col-5" style="text-align:right; vertical-align: middle">
              <button *ngIf="session.is_logged_in === true" (click)="onAdd()" class="btn btn-primary">
                <span class="fa fa-plus" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
        <div class="card-footer">
          <div class="row p-0" style="justify-content: center; display:flex">
            <div class="col-2">
              <button (click)="onSettings()" class="btn btn-primary">
                <span class="fa fa-cog" aria-hidden="true"></span>
              </button>
            </div>
            <div class="col-8" style="text-align: center">
              <button (click)="onNext()" class="btn btn-primary">
                <span class="fa fa-arrow-right" aria-hidden="true"></span>
              </button>
            </div>
            <div class="col-2">
              <button (click)="onLogin()" class="btn btn-primary float-right">
                <span class="fa fa-user" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-2 d-none d-sm-block">
    </div>
  </div>

</div>
