<div *ngIf="session.is_logged_in === false; else showDashboard">
  <div class="card-body bg-light" style="text-align: center">
    <h3>guidelines</h3>
    <pre style="border-style: none">
      lorem ipsum dolor sit amet, nominavi 
      mnesarchum complectitur ei eum, velit graecis 
      vix et. at vim alienum expetenda. 
      et nisl dicunt prompta pri, est an albucius 
      adolescens. malorum suscipit et duo, et 
      corpora deserunt mei. et vel mutat aeque 
      dolores, sea iusto nostrud sadipscing an. 
      eos decore detraxit evertitur ea, ne homero 
      forensibus vel.
    </pre>
    <button (click)="onGoogleLogin()" class="btn btn-outline-primary">
      <span class="fa fa-google"></span> google
    </button><br/>
    <button (click)="onGoogleLogin()" class="btn btn-outline-primary">
      <span class="fa fa-facebook"></span> facebook
    </button><br/>
  </div>
</div>
<ng-template #showDashboard>
  <div class="card-body bg-light dashboard" >
    <div class="row">
      <div class="col-12" style="text-align: left; color: black">
        <h5>{{session.user_name}}</h5>
        <h6>{{session.user_email}}</h6>
      </div>
    </div>
    <br/>
    <div class="row" >
      <div class="container row">
        <div class="col-10" style="text-align:left">
          <h5>list of submitted poems</h5>
        </div>
        <div class="col-2" style="text-align:right">
          <button class="btn" (click)="onAdd()">
            <span class="fa fa-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <div style="padding:10px;width:100%; height: 400px; overflow-y:scroll">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" 
              style="padding:10px;text-align:left" 
              *ngFor="let poem of poem_list" 
              (click)="showPoem(poem)">
            {{poem.title}}
            
                <small>{{getPoemStatus(poem.published, poem.public, poem.own_poem)}}</small>
            
          </li>
        </ul>
      </div>
    </div>
  </div>

</ng-template>
