/* You can add global styles to this file, and also import other style files */
div.spacer-h50 {
  min-height: 50px;
}
div.main-view {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 10px;
}
div.h-box {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 10px;
}
body {
  height: 100%;
  background: white;
}
div.poem {
  
}
button.circle {
  border-radius: 50%;
}
button.action-floating {
  position: fixed!important;
  right: 50px;
  bottom: 50px;
  padding: 30px;
  float: right;
}
img.profile {
  height: 50px;
  width: 50px;
}
.error {
  color: red;
}
img.small_logo {
  width: 30px;
  height: 30px;
}
img.circle {
  border-radius: 50%;
}
